<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>arasaka-frontend</title>
    <script type="module" crossorigin src="/assets/index-DOI0R4Ps.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/chunk-BEqpzyXh.js">
    <link rel="modulepreload" crossorigin href="/assets/chunk-LFPYN7LY-B46Ym_5q.js">
    <link rel="modulepreload" crossorigin href="/assets/typeof-DUywc4JQ.js">
    <link rel="modulepreload" crossorigin href="/assets/api-ySZdBSX7.js">
    <link rel="modulepreload" crossorigin href="/assets/createLucideIcon-BsLA_mvj.js">
    <link rel="modulepreload" crossorigin href="/assets/jsx-runtime-DOlcsXOY.js">
    <link rel="modulepreload" crossorigin href="/assets/external-link-DJgBi2cB.js">
    <link rel="modulepreload" crossorigin href="/assets/info-Cq9UDjGF.js">
    <link rel="modulepreload" crossorigin href="/assets/authStore-CPGiW93t.js">
    <link rel="modulepreload" crossorigin href="/assets/x-Db0pM6m9.js">
    <link rel="modulepreload" crossorigin href="/assets/DashboardLayout-CYm_BIcm.js">
    <link rel="modulepreload" crossorigin href="/assets/defineProperty-CXktNmJD.js">
    <link rel="modulepreload" crossorigin href="/assets/react-select.esm-DtLLOgsk.js">
    <link rel="modulepreload" crossorigin href="/assets/config-C8jyobWW.js">
    <link rel="modulepreload" crossorigin href="/assets/arrow-left-7PtpTNRG.js">
    <link rel="modulepreload" crossorigin href="/assets/calendar-D7QkfaIT.js">
    <link rel="modulepreload" crossorigin href="/assets/loader-circle-B4_EmJT_.js">
    <link rel="modulepreload" crossorigin href="/assets/mail-open-BKD15UJ8.js">
    <link rel="modulepreload" crossorigin href="/assets/mail-8Pb6apEw.js">
    <link rel="modulepreload" crossorigin href="/assets/paperclip-C6A_SVgQ.js">
    <link rel="modulepreload" crossorigin href="/assets/sendGmail-SZ_-UHFi.js">
    <link rel="modulepreload" crossorigin href="/assets/BandejaMensajes-CiFnCuQH.js">
    <link rel="modulepreload" crossorigin href="/assets/PortafolioContenido-7vmki6Nd.js">
    <link rel="modulepreload" crossorigin href="/assets/trash-2-BGiBhq2W.js">
    <link rel="modulepreload" crossorigin href="/assets/Banner-BLPWForv.js">
    <link rel="modulepreload" crossorigin href="/assets/update-perfilPersonal-D_UjkuZK.js">
    <link rel="modulepreload" crossorigin href="/assets/AvatarPerfil-DTz2eZeW.js">
    <link rel="modulepreload" crossorigin href="/assets/chevron-left-5elUGzim.js">
    <link rel="modulepreload" crossorigin href="/assets/map-pin-CItpgvoO.js">
    <link rel="modulepreload" crossorigin href="/assets/zod-D4VIKGRm.js">
    <link rel="modulepreload" crossorigin href="/assets/eye-off-24rzHnbc.js">
    <link rel="modulepreload" crossorigin href="/assets/LoginBackground-Bop1VTPz.js">
    <link rel="modulepreload" crossorigin href="/assets/circle-chevron-down-Q9utzkiu.js">
    <link rel="modulepreload" crossorigin href="/assets/MenuDesplegable-C7WHE1cI.js">
    <link rel="modulepreload" crossorigin href="/assets/Modal-D1c5iETO.js">
    <link rel="modulepreload" crossorigin href="/assets/PageHeader-PbooBHjI.js">
    <link rel="modulepreload" crossorigin href="/assets/input-Db9j283e.js">
    <link rel="modulepreload" crossorigin href="/assets/EliminarModal-BItBEld-.js">
    <link rel="modulepreload" crossorigin href="/assets/DropdownCertificaciones-DHDqlBGM.js">
    <link rel="modulepreload" crossorigin href="/assets/configuracionApi-CuVEiw1x.js">
    <link rel="modulepreload" crossorigin href="/assets/SwitchVisibilidad-BKnWcL7e.js">
    <link rel="stylesheet" crossorigin href="/assets/LoginBackground-0L6XpjWp.css">
    <link rel="stylesheet" crossorigin href="/assets/index-C60dfhy4.css">
  </head>
  <body class="font-sans">
    <div id="root"></div>

  </body>
</html>
